.belt-container {
  position: relative;
  width: 90vh;
  height: 90vh;
  margin: 0 auto;
  border: 2px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.belt {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}